@page "/Payments"
@inject PaymentsListViewModel ViewModel

<MudStack Spacing="3">
    <MudText Typo="Typo.h2">
        Payments
    </MudText>

    <MonthSelector @bind-MonthAndYear="ViewModel.MonthAndYear"/>

    <MudSimpleTable>
        <thead>
        <tr>
            <th class="d-none d-sm-table-cell">When?</th>
            <th>How much?</th>
            <th class="@ViewModel.ForWhatClass">For what?</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Payment payment in ViewModel.Payments)
        {
            <tr>
                <td class="d-none d-sm-table-cell">@ViewModel.When(payment)</td>
                <td>
                    @if (payment.Amount > 0)
                    {
                        @payment.Amount.ToString("0 PLN")
                    }
                    @if (payment.AmountForMeat > 0)
                    {
                        if (payment.Amount > 0)
                        {
                            <br/>
                        }
                        @payment.AmountForMeat?.ToString("[M] 0 PLN")
                    }
                </td>
                <td class="@ViewModel.ForWhatClass">@ViewModel.ForWhat(payment)</td>
                <td>
                    <MudIconButton Icon="@Icons.Material.Filled.Close" Color="Color.Error" OnClick="@(() => ViewModel.RemovePayment(payment))"/>
                </td>
            </tr>
        }
        <tr>
            <td>Sum:</td>
            <td>@ViewModel.Total</td>
        </tr>
        </tbody>
    </MudSimpleTable>
</MudStack>